/**
 * DokuWiki Plugin ExtList; _description.less
 * @author     Satoshi Sahara <sahara.satoshi@gmail.com>
 */

/* --------------------------------------------------------
 *  Description list - generic
 * --------------------------------------------------------
 */
div.wrap_box {
  dl.generic {
    border-bottom: none !important;
    >dt:first-child {
      border-top: none !important;
    }
  }
}
dl.generic {
  margin: 0.4em 0;
  padding: 1px 0 0.5em 0;
  border-bottom: 1px dotted #bbb;
  &:after {
    content: "";
    display: block;
    clear: left;
    height: 0;
    visibility: hidden;
  }
  dd {
    position: relative;
    margin-left: 10.6em;
    margin-top: 0.5em;
    // background-color: rgba(0,0,255,0.1);
  }
  dt {
    position: relative;
    margin-top: 0.5em;
    font-weight: normal;
    text-shadow: 1px 1px 3px rgba(0,0,0,.2);
    &:not(.compact) {
      padding-top: 0.5em;
      padding-left: 0.2em;
      // background-color: rgba(255,0,0,0.1);

      &:after {
        display: block;
        position: absolute;
        content: "◸";
        top: 0em;
        left: -0.5em;
        color: #bbb;
        font-size: x-small;
      }

    }
    &:first-child {
      border-top: 1px dotted #bbb;
    }
  }
  dt.compact {
    span {
      display: inline-block;
      position: relative;
      margin-top: 0.5em;
      padding-left: 0.2em;
      // background-color: rgba(255,0,0,0.1);
      clear: left;
      float: left;
      max-width: 9em;

      &::after {
        display: block;
        position: absolute;
        content: "◸";
        top: 0em;
        left: -0.5em;
        color: #bbb;
        font-size: x-small;
      }

    }
  }
  dd+dt {
    border-top: 1px dotted #bbb;
  }
}

